* {
    margin: 0;
    padding: 0;
}

body {
    /*width:1440px;*/
    margin: 0;
    padding: 0;
    color: #444;
    box-sizing: border-box;
    font: 14px/1 Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, WenQuanYi Micro Hei, sans-serif;
}

h2, h3, h4, h5 {
    margin: 0;
}

.donate-way-title {
    text-align: center;
    color: #ec4c9a;
    font-size: 48px;
    line-height: 56px;
    margin-top: 57px;
    margin-bottom: 21px;
}

.partners_family {
    width: 100%;
    background-color: #f8f9fb;
}

.partners_family .row {
    margin: 0 auto;
    padding: 0;
}

.partners_family img {
    width: 116px;
    height: 116px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    margin: 0 auto;
    display: block;
}

.partners_family .row-1 img {
    width: 200px;
    height: 116px;
}

.partners_family h4 {
    font-size: 18px;
    line-height: 25px;
    color: #4a4a4a;
    text-align: center;
    margin: 0 auto;
}

/*------------------------------------*/
.partners_family .row {
    margin-top: 50px;
    max-width: 800px;
}

.partners_family .row-1 {
    max-width: 780px;
}

.partners_family .row-3 {
    margin-top: 77px;
    margin-bottom: 60px;
}
.row-1 .col-md-4 {
    padding: 0 30px;
}
