* {
    margin: 0;
    padding: 0;
}

body {
    width:1440px;
    margin: 0;
    padding: 0;
    color: #444;
    box-sizing: border-box;
    font: 14px/1 Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, WenQuanYi Micro Hei, sans-serif;
}
h2,h3,h4,h5{
    margin:0;
}
.donate-way-title {
    text-align: center;
    color: #ec4c9a;
    font-size: 48px;
    line-height: 56px;
    margin-top: 57px;
    margin-bottom: 21px;
}
/*----------------------------------------------------------*/
.book-market-preview{
    margin-bottom: 236px;
}
.book-market-preview h2{
    margin-top:-50px;
}

/*----------------------------------------------------------*/
.book-market-preview-row{
    margin:0;
    margin-top:70px;
    padding:0;
}
.book-market-preview-row img{
    width:298px;
    height:184px;
    /*display: inline-block;*/
    background-color: #ccc;
}
.book-market-row-text {
    /*display: inline-block;*/
    margin-left: 35px;
    margin-top:0;
    max-width: 780px;
    line-height: 28px;
    color:#575757;
}
.book-market-row-text h3{
    font-size: 24px;
    color:#555;
}
.book-market-row-text h4{
    font-size: 18px;
    margin-bottom: 11px;
}
.book-market-row-text p{
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 18px;
}
.book-market-row-text a{
    color:#ec4c9a;
    font-size: 22px;
}